/* Custom Styles */
ul.navbar {
    text-align: right;
}

ul.navbar li {
    display: inline-block;
    margin: 0.2rem 0.2rem;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.footer {
    background-color: white;
    padding: 25px;
    margin-top: auto;
}

.footer div {
    width: fit-content;
    margin: 0 auto;
}

.footer p {
    display: inline;
}
